<div class="skeleton-group">
  <h2>navbar</h2>
  
  <h3>light</h3>
  <div class="skeleton-example with-light-box">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#"><span>r0b.io</span></a>

        <a role="button" class="navbar-burger burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="#"> About </a>
          <a class="navbar-item" href="#"> Portfolio </a>
          <a class="navbar-item" href="#"> Blog </a>
          <a class="navbar-item" href="#"> Labs </a>
        </div>
      </div>
    </nav>
  </div>
  
  <h3>dark</h3>
  <div class="skeleton-example with-dark-box">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#"><span>r0b.io</span></a>

        <a role="button" class="navbar-burger burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="#"> About </a>
          <a class="navbar-item" href="#"> Portfolio </a>
          <a class="navbar-item" href="#"> Blog </a>
          <a class="navbar-item" href="#"> Labs </a>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="skeleton-group">
  <h2>about section</h2>
  
  <div class="skeleton-example with-light-box">
    <div class="about-me">
      <img class="profile-pic" width="128" height="128" src="https://picsum.photos/id/512/512/512">
      <p class="strapline"> I'm making ... stuff </p>
      <div class="links">
        <a class="button is-circle is-twitter">
          {{{ @data.assets.fa.twitter-brands }}}
        </a>
        <a class="button is-circle is-github">
          {{{ @data.assets.fa.github-brands }}}
        </a>
        <a class="button is-circle is-dockerhub">
          {{{ @data.assets.fa.docker-brands }}}
        </a>
        <a class="button is-circle is-instagram">
          {{{ @data.assets.fa.instagram-brands }}}
        </a>
        <a class="button is-circle is-scholar">
          {{{ @data.assets.fa.graduation-cap-solid }}}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="skeleton-group">
  <h2>cards</h2>
  
  <h3>clean</h3>
  <div class="skeleton-example with-shadow is-smallish">
    <div class="clean-card">
      <h3 class="card-title">Latest Projects</h3>
      <div class="card-content">
        <p>{{ @data.text.paragraph }}</p>
      </div>
    </div>
  </div>
  
  <h3>project</h3>
  <div class="skeleton-example is-smallish">
    <div class="project-card">
      <a class="card-cover-image" href="#">
        <div style="background-image: url(https://picsum.photos/id/512/512/512)">
        </div>
      </a>
      <div class="card-content">
        <p>
          <a href="#">Spontaneous project alpha</a>
        </p>
        <div class="tags is-right">
          <span class="tag is-success">Tag A</span>
          <span class="tag is-warning">Tag B</span>
          <span class="tag is-link">Tag C</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="skeleton-group">
  <h2>portolio section</h2>
  <div class="portfolio-section">
      <div class="clean-card popup-card">
        <h3 class="card-title">Latest Projects</h3>
        <div class="card-content">
          <p>{{ @data.text.paragraph }}</p>
        </div>
      </div>
    
    <div class="project-card">
      <a class="card-cover-image" href="#">
        <div style="background-image: url(https://picsum.photos/id/512/512/512)">
        </div>
      </a>
      <div class="card-content">
        <p>
          <a href="#">Spontaneous project alpha</a>
        </p>
      </div>
    </div>
    
    <div class="project-card">
      <a class="card-cover-image" href="#">
        <div style="background-image: url(https://picsum.photos/id/512/512/512)">
        </div>
      </a>
      <div class="card-content">
        <p>
          <a href="#">Spontaneous project alpha</a>
        </p>
      </div>
    </div>
    
    <div class="project-card">
      <a class="card-cover-image" href="#">
        <div style="background-image: url(https://picsum.photos/id/512/512/512)">
        </div>
      </a>
      <div class="card-content">
        <p>
          <a href="#">Spontaneous project alpha</a>
        </p>
      </div>
    </div>
    
    <div class="view-more-holder">
      <a class="view-more is-light" href="#">More</a>
    </div>
  </div>
</div>

<div class="skeleton-group">
  <h2>page flow</h2>
  
  <div class="skeleton-example with-no-padding">
    <div class="page-block is-liberty has-slope-after">
      <div class="skeleton-page-box"></div>
    </div>
    <div class="page-block is-paper is-inbetween">
      <div class="skeleton-page-box"></div>
    </div>
    <div class="page-block is-magenta has-slope-before has-slope-after">
      <div class="skeleton-page-box"></div>
    </div>
    <div class="page-block is-paper is-inbetween">
      <div class="skeleton-page-box"></div>
    </div>
  </div>
</div>

<div class="skeleton-group">
  <h2>trello list</h2>
  <div class="skeleton-example is-smallish">
    <div class="trello-list">
      <p class="list-title">To-do</p>
      
      <div class="project-card">
        <a class="card-cover-image" href="#">
          <div style="background-image: url(https://picsum.photos/id/512/512/512)">
          </div>
        </a>
        <div class="card-content">
          <p><a href="#">Spontaneous project alpha</a></p>
        </div>
      </div>
      
      <div class="project-card">
        <div class="card-content">
          <p><a href="#">Spontaneous project alpha</a></p>
        </div>
      </div>
      
      <div class="project-card">
        <div class="card-content">
          <p><a href="#">Spontaneous project alpha</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="skeleton-group">
  <h2>a4-page</h2>
  <div class="skeleton-example">
    <div class="a4-page">
      <h2> {{ @data.text.title }} </h2>
      <p> {{ @data.text.paragraph }} </p>
    </div>
  </div>
</div>

<div class="skeleton-group">
  <h2>a4 section</h2>
  <div class="skeleton-example">
    <div class="a4-section">
      <div class="a4-page">
        <h2> {{ @data.text.title }} </h2>
        <p> {{ @data.text.paragraph }} </p>
      </div>
    </div>
  </div>
</div>
