<div class="skeleton-group">
  <h2>navbar</h2>
  
  <h3>light</h3>
  <div class="skeleton-example with-light-box">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#"><span>r0b.io</span></a>

        <a role="button" class="navbar-burger burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="#"> About </a>
          <a class="navbar-item" href="#"> Portfolio </a>
          <a class="navbar-item" href="#"> Blog </a>
          <a class="navbar-item" href="#"> Labs </a>
        </div>
      </div>
    </nav>
  </div>
  
  <h3>dark</h3>
  <div class="skeleton-example with-dark-box">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#"><span>r0b.io</span></a>

        <a role="button" class="navbar-burger burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="#"> About </a>
          <a class="navbar-item" href="#"> Portfolio </a>
          <a class="navbar-item" href="#"> Blog </a>
          <a class="navbar-item" href="#"> Labs </a>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="skeleton-group">
  <h2>Home hero</h2>
  
  <div class="skeleton-example">
    <div class="about-me">
      <img class="profile-pic" width="128" height="128" src="https://picsum.photos/id/512/512/512">
      <p class="strapline"> I'm making ... stuff </p>
      <div class="links">
        <a class="button is-circle is-twitter">
          {{{ @data.assets.fa.twitter-brands }}}
        </a>
        <a class="button is-circle is-github">
          {{{ @data.assets.fa.github-brands }}}
        </a>
        <a class="button is-circle is-dockerhub">
          {{{ @data.assets.fa.docker-brands }}}
        </a>
        <a class="button is-circle is-instagram">
          {{{ @data.assets.fa.instagram-brands }}}
        </a>
        <a class="button is-circle is-scholar">
          {{{ @data.assets.fa.graduation-cap-solid }}}
        </a>
        <span class="flex-seperator"></span>
        <a class="view-more" href="#">See more</a>
      </div>
    </div>
  </div>
</div>
